<div>
  <h1 class="page-title">Welcome to Scan Clue Guide!</h1>
  <h2 class="page-title">Useful for Elite and Master Clues.</h2>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ardougne
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/ardougne.png" alt="Ardougne">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Brimhaven Dungeon
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/brimhaven_dungeon.png" alt="Brimhaven Dungeon">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Darkmeyer
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/darkmeyer.png" alt="Darkmeyer">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dorgesh-Kaan
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/dorgesh_kaan.png" alt="Dorgesh-Kaan">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Falador
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/falador.png" alt="Falador">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fremennik Isles (Neitiznot and Jatizso)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/fremennik_isles.png" alt="Fremennik Isles (Neitiznot and Jatizso)">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Fremennik Slayer Dungeon
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/fremennik_slayer_dungeon.png" alt="Fremennik_Slayer_Dungeon">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Haunted Woods
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/haunted_woods.png" alt="Haunted Woods">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Heart of Gielinor
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/heart_of_gielinor.png" alt="Heart of Gielinor">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Isafdar and Lletya
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/isafdar_and_lletya.png" alt="Isafdar and Lletya">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        The Islands That Once Were Turtles
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/the_islands_that_once_were_turtles.png" alt="The Islands That Once Were Turtles">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Keldagrim
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/keldagrim.png" alt="Keldagrim">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kharazi Jungle
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="warning">Note: Herblore Habitat is no longer part of the scan.</p>
    <img src="assets/kharazi_jungle.png" alt="Kharazi Jungle">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kharidian Desert, east
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/kharidian_desert_east.png" alt="Kharidian Desert, east">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lumbridge Swamp Caves
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/lumbridge_swamp_caves.png" alt="Lumbridge Swamp Caves">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Menaphos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/menaphos.png" alt="Menaphos">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mos Le'Harmless
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/mos_leharmless.png" alt="Mos Le'Harmless">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Piscatoris Hunter Area
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/piscatoris_hunter_area.png" alt="Piscatoris Hunter Area">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Prifddinas
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/prifddinas.png" alt="Prifddinas">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Taverley Dungeon
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/taverley_dungeon.png" alt="Taverley Dungeon">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Varrock and the Grand Exchange
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/varrock.png" alt="Varrock and the Grand Exchange">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wilderness, deep
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/wilderness_deep.png" alt="Wilderness, deep">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wilderness Volcano
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/wilderness_volcano.png" alt="Wilderness Volcano">
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Zanaris
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img src="assets/zanaris.png" alt="Zanaris">
  </mat-expansion-panel>
</mat-accordion>
