<div>
  <h1 class="page-title">Welcome to Scan Clue Guide!</h1>
  <h2 class="page-title">Useful for Elite and Master Clues.</h2>
</div>
<div>
  <collapsible-panel>
    <span class="title">Ardougne</span>
    <img src="assets/ardougne.png" alt="Ardougne">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Brimhaven Dungeon</span>
    <img src="assets/brimhaven_dungeon.png" alt="Brimhaven Dungeon">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Darkmeyer</span>
    <img src="assets/darkmeyer.png" alt="Darkmeyer">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Dorgesh-Kaan</span>
    <img src="assets/dorgesh_kaan.png" alt="Dorgesh-Kaan">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Falador</span>
    <img src="assets/falador.png" alt="Falador">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Fremennik Isles (Neitiznot and Jatizso)</span>
    <img src="assets/fremennik_isles.png" alt="Fremennik Isles (Neitiznot and Jatizso)">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Fremennik Slayer Dungeon</span>
    <img src="assets/fremennik_slayer_dungeon.png" alt="Fremennik_Slayer_Dungeon">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Haunted Woods</span>
    <img src="assets/haunted_woods.png" alt="Haunted Woods">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Heart of Gielinor</span>
    <img src="assets/heart_of_gielinor.png" alt="Heart of Gielinor">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Isafdar and Lletya</span>
    <img src="assets/isafdar_and_lletya.png" alt="Isafdar and Lletya">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">The Islands That Once Were Turtles</span>
    <img src="assets/the_islands_that_once_were_turtles.png" alt="The Islands That Once Were Turtles">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Keldagrim</span>
    <img src="assets/keldagrim.png" alt="Keldagrim">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Kharazi Jungle</span>
    <p class="warning">Note: Herblore Habitat is no longer part of the scan.</p>
    <img src="assets/kharazi_jungle.png" alt="Kharazi Jungle">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Kharidian Desert, east</span>
    <img src="assets/kharidian_desert_east.png" alt="Kharidian Desert, east">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Lumbridge Swamp Caves</span>
    <img src="assets/lumbridge_swamp_caves.png" alt="Lumbridge Swamp Caves">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Menaphos</span>
    <img src="assets/menaphos.png" alt="Menaphos">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Mos Le'Harmless</span>
    <img src="assets/mos_leharmless.png" alt="Mos Le'Harmless">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Piscatoris Hunter Area</span>
    <img src="assets/piscatoris_hunter_area.png" alt="Piscatoris Hunter Area">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Prifddinas</span>
    <img src="assets/prifddinas.png" alt="Prifddinas">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Taverley Dungeon</span>
    <img src="assets/taverley_dungeon.png" alt="Taverley Dungeon">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Varrock and the Grand Exchange</span>
    <img src="assets/varrock.png" alt="Varrock and the Grand Exchange">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Wilderness, deep</span>
    <img src="assets/wilderness_deep.png" alt="Wilderness, deep">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Wilderness Volcano</span>
    <img src="assets/wilderness_volcano.png" alt="Wilderness Volcano">
  </collapsible-panel>
  <collapsible-panel>
    <span class="title">Zanaris</span>
    <img src="assets/zanaris.png" alt="Zanaris">
  </collapsible-panel>
</div>

